@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
    height : 100%;
    @apply text-zinc-800;
}


.scroll-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar : none;
}

.bg-symbol-yellow {
    background-color: #FFC107;
}